<h1 class="edit-heading">Edit Produce</h1>

<% @error_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<div class="show-img">

  <% @photos.each do |photo| %>

  <img class="show-img" src="<%= photo.image_link %>" alt="">

  <% end %>

</div>


<div class="info-box">
  <form action="/items/<%= @item.id %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="put">
    
    <div class="new-title">
      <label for="">Title:</label>
      <input class="u-full-width" type="text" name="title" value="<%= @item.title%>">
    </div>

    <div class="new-description">
      <label for="">Description:</label>
      <input class="u-full-width" type="text" name="description" value="<%= @item.description%>">
    </div>

    <div class="new-qty">
      <label for="">Qty:</label>
      <input class="qty-input" type="text" name="quantity" value="<%= @item.quantity%>">
    </div>

    <div class="new-unit">
      <label for="">Unit:</label>
      <select name="unit" id="">
        <option value="none" selected disabled hidden> 
            Select a Unit 
        </option> 
        <option value="kg">kg</option>
        <option value="g">g</option>
        <option value="ltrs">ltrs</option>
        <option value="ml">ml</option>
        <option value="pcs">pcs</option>
      </select>
    </div>

</div>
    <div class="new-button">
      <button class="btn btn-success">Update</button>
    </div>

  </form>

<%# <script>

const form = document.querySelector('form')

const addUnit = () => {
  const div = document.createElement('div')
  div.className = "new-unit"
  div.appendChild(form)
  
  // const label = document.createElement('label')
  // label.innerHTML = "Unit"
  // label.appendChild(div)

  // const select = document.createElement('select')
  // select.innerHTML = "KG"
  // select.appendChild(div)
  
  // const option = document.createElement('option')

}

addUnit()

</script> %>