<h2>Confirm Offer</h2>

<div class="confirm-conatiner">
  <section class="proposer-item card">
  <% if @offer.proposer_item.user.id === current_user.id%>
    <h2>Your item</h2>
  <% else %>
    <h2>Their item</h2>
  <% end %>
    <img src="<%=@offer.proposer_item.photos.first.image_link%>" alt="">
    <p><%=@offer.proposer_item.title%></p>
    <p><%=@offer.proposer_item_qty%><%=@offer.proposer_item.unit%></p>
    <p><%=@offer.proposer_item.user.username%></p>
  </section>

  <section class="review-item card">
  <% if @offer.reviewer_item.user.id === current_user.id%>
    <h2>Your item</h2>
  <% else %>
    <h2>Their item</h2>
  <% end %>
    <img src="<%=@offer.reviewer_item.photos.first.image_link%>" alt="">
    <%=@offer.reviewer_item.title%>
    <%=@offer.reviewer_item_qty%><%=@offer.reviewer_item.unit%>
    <%=@offer.reviewer_item.user.username%>
  </section>
</div>

<section class="meeting-point">
  <p>Meeting Point: <%=@offer.meeting_point_suburb%></p>
</section>


<div class="offer-options">
  <form action="/offers/accepted">
    <button data-offer-id="<%=@offer.id%>" class="accept offer">ACCEPT</button>
  </form>
  <form action="">
    <button data-offer-id="<%=@offer.id%>" class="decline offer">DECLINE</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>
<script>
var offerOptions = document.querySelector('.offer-options')
var offerAlert = document.querySelector('.offer-alert')
var offerStatus = document.querySelector('.offer-status')
var yourItemHeading = document.querySelector('.proposer-item h2')

var removeButtons = () => {
  offerOptions.classList.add('hide')
}

var chooseOfferOption = event => {
  offerStatus.textContent = ''
  var options = {
    method: 'post',
    url: '/api/offer_status',
    data: { offer_id: event.target.getAttribute('data-offer-id'),
    class_name: event.target.className }
  }

  var updateOfferStatus = resp => {
    offerStatus.textContent = resp.offer_status
  }

  $.ajax(options).done(updateOfferStatus)
}

if (yourItemHeading.textContent == 'Your item') {
  removeButtons()
}

offerOptions.addEventListener('click', chooseOfferOption)

</script>