<section class="filter-offers">
  <label for="filter-offer">Filter</label>
  <select name="filter" class="filter-offer u-full-width">
    <option value="all_offers">All offers</option>
    <option value="proposer_offers">My proposed offers</option>
    <option value="reviewer_offers">Review offers</option>
  </select>
</section>

<section class="proposer-offers">
  <% @proposer_offers.each do |offer| %>
  <a href="/offer/<%=offer.id%>">
    <div class="offer-card card">
      <p><%=offer.proposer_item.user.username%> has <%=offer.proposer_item_qty%> <%=offer.proposer_item.unit%> <%=offer.proposer_item.title%></p>
      <img src="<%=offer.proposer_item.photos.first.image_link%>" alt="">
  </a>
  <form action="/offers/<%=offer.id%>/edit" class="edit-offer">
    <button>EDIT OFFER</button>
  </form>
    </div>
  <% end %>
</section>

<section class="reviewer-offers">
  <% @reviewer_offers.each do |offer| %>
    <a href="/offer/<%=offer.id%>">
      <div class="offer-card card">
        <p><%=offer.reviewer_item.title%> <%=offer.reviewer_item_qty%><%=offer.reviewer_item.unit%></p>
        <img src="<%=offer.reviewer_item.photos.first.image_link%>" alt="">
      </div>
    </a>
  <% end %>
</section>


<script>
  var filterDropdown = document.querySelector('.filter-offer')
  var proposerOffer = document.querySelector('.proposer-offers')
  var reviewerOffer = document.querySelector('.reviewer-offers')

  var filter = function (event){
    switch (event.target.options.selectedIndex){
      case 0:
        proposerOffer.classList.remove('hide')
        reviewerOffer.classList.remove('hide')
        break;
      case 1:
        proposerOffer.classList.remove('hide')
        reviewerOffer.classList.add('hide')
        break;
      case 2:
        proposerOffer.classList.add('hide')
        reviewerOffer.classList.remove('hide')
        break;
    }
  }

  filterDropdown.addEventListener('change', filter)
</script>

