<h1>make offer form</h1>
<%=@reviewer_item.title%>
<%=@reviewer_item.quantity%>
<%=@reviewer_item.unit%>
<%@photos.each do |photo|%>
  <img src="<%=photo.image_link%>" alt="">
<% end %>


<% @proposed_items.each do |item| %>
  <p><%=item.quantity%> <%=item.unit%> <%=item.title%></p>
<% end %>


<form action="/offers/new" method="post">
  <label for="">your items</label>
  <select name="item_id" id="">
    <% @proposed_items.each do |item| %>
      <option name="item_id" value="<%=item.id%>"><%=item.title%></option>
    <% end %>
  </select>
  <label for="">quantity</label>
  <input type="text" name="qty">
  <label for="">unit</label>
  <select name="unit" id="">
    <option value="kg">kg</option>
    <option value="g">g</option>
    <option value="ltrs">ltrs</option>
    <option value="ml">ml</option>
    <option value="pcs">pcs</option>
  </select>
  <input type="hidden" name="reviewer_item_id" value="<%=@reviewer_item.id%>">
  <button>make offer</button>
</form>