<h1>make offer form</h1>
<section class="on-offer">
  <p><%=@reviewer_item.title%> <%=@reviewer_item.quantity%><%=@reviewer_item.unit%></p>
  <%@photos.each do |photo|%>
    <img src="<%=photo.image_link%>" alt="">
  <% end %>
</section>

<section class="your-offers">
  <% @proposed_items.each do |item| %>
    <p><%=item.quantity%> <%=item.unit%> <%=item.title%></p>
  <% end %>
</section>
<section class="make-offer-form">
  <form action="/offers/new" method="post">
    <label for="">your items</label>
      <select name="item_id" id="" class="select-item">
        <option value="" disabled selected>Choose from your list</option>
        <% @proposed_items.each do |item| %>
          <option name="item_id" value="<%=item.id%>"><%=item.title%></option>
        <% end %>
      </select>

    <input class="offer-qty" type="number" step=".01" name="qty" placeholder="quantity">
    <label class="offer-unit">unit</label>

    <label for="meeting_point">Meeting point</label>
    <select name="meeting_point" id="" class="meeting-point">
      <option value="yours">your location</option>
      <option value="theirs">their location</option>
      <option value="elsewhere">elsewhere</option>
    </select>
    <input type="text" name="elsewhere" placeholder="Suggest elsewhere" class="elsewhere-field hide">
    <input type="hidden" name="reviewer_item_id" value="<%=@reviewer_item.id%>">
    <button>make offer</button>
  </form>

  <form action="items/new">
    <button>Add item</button>
  </form>
</section>

<script>

var selectItem = document.querySelector('.select-item')
var offerQty = document.querySelector('.offer-qty')
var offerUnit = document.querySelector('.offer-unit')
var selectMeetingPoint = document.querySelector('.meeting-point')
var elsewhereField = document.querySelector('.elsewhere-field')

var selectFromYourItems = event => {

  var options = {
    url: '/api/items',
    data: { item_id: event.target.value }
  }
  var getItemDetails = resp => {
    offerQty.max = resp.item_qty
    offerUnit.textContent = resp.item_units
  }
  $.ajax(options).done(getItemDetails)
}

var setMeetingPoint = event => {
  console.log(event.target)
  if (event.target.value == 'elsewhere') {
    elsewhereField.classList.remove('hide')
  }
}

selectMeetingPoint.addEventListener('change', setMeetingPoint)
selectItem.addEventListener('change', selectFromYourItems)
</script>