<h3>Accepted Offers</h3>
<% @my_offers.each do |offer| %>
  <% if offer.status_id == 3 %>
    <a href="/offers/accepted/<%= offer.id %>">
      <div class="offer-card card">
        <p>Offer between: <%= offer.proposer_item.user.username %> and <%= offer.reviewer_item.user.username %> on <%= offer.created_at.strftime("%a, %e %b %Y") %></p>
        <div class="card-imgs">
          <img src="<%= offer.proposer_item.photos.first.image_link %>" alt="">
          <img src="<%= offer.reviewer_item.photos.first.image_link %>" alt="">
          <p><%= offer.proposer_item_qty %><%= offer.proposer_item.unit %>  <%= offer.proposer_item.title %> for <%= offer.reviewer_item_qty %><%= offer.reviewer_item.unit %>  <%= offer.reviewer_item.title %></p>
        </div>
      </div>
    </a>
  <% end %>
<% end %>

<h3>Completed Transactions</h3>
<% @my_offers.each do |offer| %>
  <% if offer.status_id == 4 %>
    <div class="offer-card card">
        <p>Transaction between: <%= offer.proposer_item.user.username %> and <%= offer.reviewer_item.user.username %> on <%= offer.created_at.strftime("%a, %e %b %Y") %></p>
        <div class="card-imgs">
          <img src="<%= offer.proposer_item.photos.first.image_link %>" alt="">
          <img src="<%= offer.reviewer_item.photos.first.image_link %>" alt="">
          <p><%= offer.proposer_item_qty %><%= offer.proposer_item.unit %>  <%= offer.proposer_item.title %> for <%= offer.reviewer_item_qty %><%= offer.reviewer_item.unit %>  <%= offer.reviewer_item.title %></p>
        </div>
      </div>
  <% end %>
<% end %>